body {
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

header img {
  width: 45px;
  height: auto;
  margin-left: 5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 15.5%;
  position: relative;
  overflow: hidden;
}

.dashboard-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.dashboard .div1 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div1:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div2 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div2:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div3 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div3:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div4 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div4:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div5 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div5:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard div h3 {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 32%;
  left: 30%;
}

.dashboard div img {
  width: 24px;
  height: auto;
}

.dashboard h1 {
  color: black;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 35, 227, 0.15);
  width: 75%;
  border-radius: 7px;
  transform: translateX(10%);
  padding: 35px 5px 35px;
}

.dashboard-info h2 {
  font-size: 13px;
  margin-bottom: 7px;
}

.dashboard-info p {
  font-size: 11px;
  text-align: center;
}

.dashboard-info img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.logout {
  background: transparent;
  border: none;
  transform: translateY(50px);
  cursor: pointer;
  position: relative;
  left: -50px;
}

.logout img {
  width: 20px;
  height: auto;
  position: relative;
  top: 16%;
  margin-right: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 84.5%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parent1 {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 10px;
}

.child1 h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.child1 h5 {
  font-size: 0.8em;
}

.child2 {
  position: relative;
  top: 10%;
}

.child2 button {
  background-color: white;
  border: 1.3px solid #cdcbd1;
  border-radius: 5px;
  position: relative;
  padding: 7px;
  padding-left: 30px;
  margin-right: 5px;
  top: -20%;
  left: 0;
}

.child2 .img2 {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.img1 {
  width: 18px;
  height: auto;
  margin-right: 5px;
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 7px;
}

.parentofcard {
  display: flex;
  width: 97%;
  justify-content: space-between;
  height: auto;
  margin-bottom: 7px;
}

.card {
  display: flex;
  position: relative;
  background-color: white;
  padding: 20px 33px 20px;
  border-radius: 10px;
  outline: 1px solid #cdcbd1;
}

.img-card1 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.img-card2 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.img-card3 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
  transform: rotate(180deg);
}

.img-card4 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

#saldo1 {
  color: blue;
  font-size: 20px;
}

#saldo2 {
  color: green;
  font-size: 20px;
}

#saldo3 {
  color: red;
  font-size: 20px;
}

#saldo4 {
  color: blue;
  font-size: 20px;
}

.parent2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 97%;
  height: auto;
}

.parent-child1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 22%;
  background-color: white;
  padding: 15px;
  border: 1.3px solid #cdcbd1;
  border-radius: 10px;
}

.form1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.span1 {
  font-size: 1em;
  font-weight: 400;
  padding: 0px 5px 0px;
  border: 1px solid transparent;
  color: white;
  background-color: blue;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.span2 {
  font-weight: 600;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #989b9d;
  background-color: #dee0e1;
  padding: 5px;
  margin-right: 0;
}

.label2 input {
  border: 1px solid #989b9d;
  border-radius: 0px 5px 5px 0px;
  width: 100%;
}

.label1 input {
  border: 1px solid #989b9d;
  border-radius: 5px;
  padding: 5px;
}

.label3 select {
  border: 1px solid #989b9d;
  border-radius: 5px;
  padding: 5px;
}

.h1-parent2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.label1,
.label2,
.label3 {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.8em;
}

.child-form {
  display: flex;
  margin-top: 5px;
  width: 100%;
}

.child-form2 {
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: space-between;
}

.input1 {
  margin-top: 5px;
}

#opsi1 {
  margin-top: 5px;
}

#button1 {
  border: 1.5px solid rgba(28, 241, 0, 0.4);
  padding: 8px 10px 8px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: rgba(28, 241, 0, 0.2);
  color: green;
  font-weight: 600;
  font-size: 11.5px;
  position: relative;
}

#button1 img {
  position: absolute;
  top: 20%;
  left: 5%;
}

#button2 {
  border: 1.5px solid rgba(255, 0, 0, 0.4);
  padding: 5px 10px 8px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  font-weight: 600;
  font-size: 11.5px;
  position: relative;
}

#button2 img {
  transform: rotate(180deg);
  position: absolute;
  top: 20%;
  left: 5%;
}

.label4 {
  display: flex;
  flex-direction: column;
}

.label4 input {
  margin-top: 5px;
  border: 1px solid #989b9d;
  border-radius: 5px;
  padding: 5px;
}

#button3 {
  margin-top: 5px;
  width: 100%;
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 7px;
  color: white;
  position: relative;
}

#button3::before {
  content: "+";
  position: absolute;
  top: 13%;
  left: 13%;
  color: white;
  font-size: 20px;
}

.parent-child2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;

  width: 40%;
  padding: 10px;
  height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1.3px solid #cdcbd1;
}

.parent-child3 {
  width: 30%;
  height: 92.5%;
  border: 1.3px solid #cdcbd1;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.parent-tips {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 100px;
  padding: 10px 0px 10px;
  border: 1.3px solid #cdcbd1;
  border-radius: 10px;
  background-color: #cee6f6;
}

.child-tips1 {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.child-tips1 img {
  width: 55px;
  height: 55px;
  margin-right: 7px;
}

.img-tips {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
