body {
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

header img {
  width: 45px;
  height: auto;
  margin-left: 5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 15.5%;
  position: relative;
}

.dashboard-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.dashboard .div1 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div1:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div2 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div2:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div3 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div3:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div4 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div4:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard .div5 {
  display: flex;
  position: relative;
  border-radius: 5px;
  width: 85%;
  height: auto;
  cursor: pointer;
  padding: 10px 5px 10px;
  transition: 0.6s;
}

.dashboard .div5:hover {
  background-color: rgba(201, 201, 220, 0.15);
  color: blue;
}

.dashboard div h3 {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 32%;
  left: 30%;
}

.dashboard div img {
  width: 24px;
  height: auto;
}

.dashboard h1 {
  color: black;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 35, 227, 0.15);
  width: 75%;
  border-radius: 7px;
  transform: translateX(10%);
  padding: 35px 5px 35px;
}

.dashboard-info h2 {
  font-size: 13px;
  margin-bottom: 7px;
}

.dashboard-info p {
  font-size: 11px;
  text-align: center;
}

.dashboard-info img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.logout {
  background: transparent;
  border: none;
  transform: translateY(50px);
  cursor: pointer;
  position: relative;
  left: -50px;
}

.logout img {
  width: 20px;
  height: auto;
  position: relative;
  top: 16%;
  margin-right: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 84.5%;
  height: auto;
}

.parent1 {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.child1 h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
}

.child1 h5 {
  font-size: 0.8em;
}

.child2 {
  position: relative;
  top: 10%;
}

.child2 button {
  background-color: white;
  border: 1.3px solid #cdcbd1;
  border-radius: 5px;
  position: relative;
  padding: 7px;
  padding-left: 30px;
  margin-right: 5px;
  top: -20%;
  left: 0;
}

.child2 .img2 {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.img1 {
  width: 18px;
  height: auto;
  margin-right: 5px;
  position: absolute;
  z-index: 2;
  top: 11px;
  left: 7px;
}

.parentofcard {
  display: flex;
  width: 97%;
  justify-content: space-between;
  height: auto;
  margin-bottom: 10px;
}

.card {
  display: flex;
  position: relative;
  background-color: white;
  padding: 20px 33px 20px;
  border-radius: 10px;
  outline: 1px solid #cdcbd1;
}

.img-card1 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.img-card2 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.img-card3 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
  transform: rotate(180deg);
}

.img-card4 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}

#saldo1 {
  color: blue;
  font-size: 20px;
}

#saldo2 {
  color: green;
  font-size: 20px;
}

#saldo3 {
  color: red;
  font-size: 20px;
}

#saldo4 {
  color: blue;
  font-size: 20px;
}
